


body {
    background-color: #232181;
    text-align: center;
  
}

div {

width:50%;
padding: 20px;
background-color: #fff;
border-radius: 25px;
box-shadow: 5px 5px 5px rgba(3, 3, 3, 3);
margin: 200px;
padding:50px;
justify-content: center;
}


h1{ 
    color: whitesmoke;
    text-align: center;
    font-size:50px;
}

li {
    border-bottom: 1px solid gray; 
}

a {
    text-decoration: none;
}
.lista { 
    
    text-align: center;
    font-size: 25px;
    list-style-type: none;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    
}



.lista :hover {
    transition: 1.s;
    color: black;
}
.Fop1 { 
    color:#845EC2;
}

.Fop2 { 
    color: #00C9A7;
}

.Fop3 { 
    color:#4D8076;
}

.Fop4 {
    color:#4B4453;
}

.Fop5 { 
    color: #008B74;
}

.Fop6 { 
    color:#00C9A7;
}

.Fop7 {
    color: #005B44;
}

.Fop8 { 
    color: #250B65
}

.Fop9 { 
    color: #2E839E;
}

.Fop10 { 
    color: #B0A8B9;
}

.Fop11 { 
    color: #4E8397;

}

.Fop12 { 
    color: #4E8397
}
