body {
    background-color: lightskyblue;
    text-align: center;
}

h1{ 
    color: whitesmoke;
}

.lista { 
    background-color: white;
    text-align: center;
}

.lista :hover {
    transition: 2.s;
    color: black;
}
.Fop1 { 
    color: red;
}

.Fop2 { 
    color: blue;
}

.Fop3 { 
    color: blueviolet;
}

.Fop4 {
    color: aqua;
}

.Fop5 { 
    color: brown;
}

.Fop6 { 
    color: pink;
}

.Fop7 {
    color: green;
}

.Fop8 { 
    color: yellow;
}

.Fop9 { 
    color: palegreen;
}

.Fop10 { 
    color: lightpink;
}

.Fop11 { 
    color: lightsalmon;
}

.Fop12 { 
    color: grey;
}
